In [ ]:
pip install mysql-connector-python

In [1]:
import mysql.connector as mysql

## Steps to work with the sql

### 1. Establish the connection
### 2. Create a cursor

In [2]:
mydb = mysql.connect(host='localhost',user="root",passwd="root", database="mldltest")
cursor = mydb.cursor()

In [21]:
show_dbs_query = "show databases"
drop_db_query = "drop database MLDLTest"
create_db_query = "create database MLDLTest"
create_tb_query = """create table iNeuronStudent(id INT(10),name VARCHAR(30),surname VARCHAR(30),country VARCHAR(30)\
,enrollmentDate DATE)"""
show_tb_query = "show tables"
insert_query = "insert into ineuronstudent values(1,'Ankita','Sharma','India','2021-08-21')"
delete_query = "delete from ineuronstudent where id = 1"
select_query = "select * from ineuronstudent"

create_add_tb_query = """create table addresses(id INT(10),location_id INT(10),address_1 VARCHAR(30),address_2 VARCHAR(20),\
city VARCHAR(30),state_province VARCHAR(10),postal_code VARCHAR(20),country VARCHAR(20))"""
insert_add_tb_query = """insert into mldltest.addresses values ({value1},{value2},'{value3}','{value4}','{value5}','{value6}',\
{value7},'{value8}')"""
select_add_tb_query = "select * from addresses"

In [4]:
cursor.execute(show_dbs_query)

In [5]:
cursor.fetchall()

[('information_schema',),
 ('mldltest',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [ ]:
cursor.execute(drop_db_query)
cursor.execute(create_db_query)

In [ ]:
mydb.close()

In [ ]:
mydb.is_connected()

In [ ]:
cursor.execute(create_tb_query)

In [ ]:
cursor.execute(show_tb_query)
cursor.fetchall()

In [ ]:
cursor.execute(delete_query)
mydb.commit()

cursor.execute(insert_query)
mydb.commit()

In [ ]:
cursor.execute(select_query)
cursor.fetchall()

### Fetch the data from the sql using pandas

In [6]:
import pandas as pd
import csv

In [ ]:
pd.read_sql(select_query, mydb)

In [ ]:
cursor.execute(create_add_tb_query)

In [20]:
with open('sample-csv/addresses.csv') as f:
    data = csv.reader(f, delimiter = '\n')
    for lines in enumerate(data):
        if data.line_num == 1:
            continue
        for i in (lines[1]):
            list_ = i.split(',')
            cursor.execute(insert_add_tb_query.format(value1 = (list_[0]), value2 = (list_[1]), value3 = (list_[2])
                            , value4 = (list_[3]), value5 = (list_[4]), value6 = (list_[5]), value7 = (list_[6])
                            , value8 = (list_[7])))
    mydb.commit()

In [22]:
pd.read_sql(select_add_tb_query, mydb)

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,,Menlo Park,CA,84144,US
6,7,7,500 Arbor Road,,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,,Menlo Park,CA,84144,US
8,9,9,2510 Middlefield Road,,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US